@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, .6)), url("../images/background-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

h1{
    font-size: 5rem;
    color: #f5f5f5;
    margin-bottom: 2.5rem;
    text-shadow: 2px 2px 2px black;
}

.quiz-container{
    width: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
}

.quiz-colum{
    display:flex;
    flex-direction: column;
}

.quiz-center{
    justify-content: center;
    align-items: center;
}

.quiz-btn{
    background-color: #007DA7;
    color: #f5f5f5;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px black;
}

.quiz-btn:hover{
    box-shadow: 0 0 15px #f5f5f5;
    cursor: pointer;
    transition: transform 200ms;
    transform: scale(1.05);
}

.quiz-container h1{
    margin: 0;
}
.quiz-container p{
    color: #f5f5f5;
    text-align: center;
    width: 75%;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: bolder;
}