@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    color: #f5f5f5;
    background: #17181A;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, .6)), url("../images/background-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .25s ease;
}
.main.current{
    filter: blur(1rem);
}

.quiz-container{
    display: flex;
    height: 100vh;
    width: 200%;
}

.cover-container h1{
    font-size: 5rem;
    color: #f5f5f5;
    margin-bottom: 2.5rem;
    text-shadow: 2px 2px 2px black;
}

.cover-container{
    position: relative;
    left: -50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.quiz-colum{
    display:flex;
    flex-direction: column;
}

.quiz-center{
    justify-content: center;
    align-items: center;
}

.quiz-btn{
    background-color: #007DA7;
    color: #f5f5f5;
    width: 17.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 0.1rem;
    border: 2px solid #f5f5f5;
}

.quiz-btn:hover{
    box-shadow: 0 0 15px #f5f5f5;
    cursor: pointer;
    transition: transform 200ms;
    transform: scale(1.05);
}

.cover-container h1{
    margin: 0;
}
.cover-container p{
    color: #f5f5f5;
    text-align: center;
    width: 50%;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 2rem 0 2rem 0;
}

.start-quiz-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 30rem;
    background: #17181A;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #f5f5f5;
    opacity: 0;
    pointer-events: none;
    transition: .25s ease;
}
.start-quiz-popup.current{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start-quiz-popup h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}
.start-quiz-popup .quiz-info{
    display: inline-block;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0.5rem 0;
}

.start-quiz-popup .popup-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
    transition: 1s;
}

.start-quiz-popup .popup-btn .about-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    background: #007DA7;
    border: 2px solid #007DA7;
    border-radius: .5rem;
    outline: none;
    font-size: 1rem;
    color: #f5f5f5;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.start-quiz-popup .popup-btn .about-btn:hover{
    background: transparent;
    color: #007DA7;
}

.quiz-section{
    position: relative;
    /* left: -50%; */
    left: 0;
    width: 100%;
    background: #007DA7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .5s ease-in-out;
    transition-delay: .25s;
}
.quiz-section.current{
    left: 0;
}

.quiz-section .quiz-box{
    position: relative;
    width: 40rem;
    background: transparent;
    border: 3px solid #f5f5f5;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}

.quiz-section .quiz-box.current{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-align: center;
    letter-spacing: .1rem;
}

.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 3px solid #f5f5f5;
    border-top: 3px solid #f5f5f5;
}
.quiz-header span{
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
}

.quiz-header .header-score{
    background: #f5f5f5;
    color: #007DA7;
    border-radius: .5rem;
    padding: .5rem;
}
.quiz-box .question-title{
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    margin-top: 2.5rem;
}

.quiz-questions .question{
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    transition: .3s;
}
.quiz-questions .question span{
    padding: 1rem;
}

.quiz-questions .question:hover{
    background-color: rgba(0, 0, 0, .75);
    color: #f5f5f5;
    transform: scale(1.03);
}

.quiz-questions .question.correct{
    background: #007DA7;
    border: 3px solid #00ff00;
    color: #00ff00;
    box-shadow: 0 0 3px 3px #00ff00;
} 
.quiz-questions .question.incorrect{
    background: #007DA7;
    border: 3px solid #ff0000;
    color: #ff0000;
    box-shadow: 0 0 3px 3px #ff0000;
} 

.quiz-questions .question.disabled{
    pointer-events: none;
}

.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.quiz-footer .quiz-total{
    font-size: 1rem;
    font-weight: bolder;
}

.quiz-footer .next-btn{
    width: 5rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    border-radius: .25rem;
    font-weight: bolder;
    cursor: pointer;
    pointer-events: none;
}
.quiz-footer .next-btn.current{
    pointer-events: auto;
    background-color: #007DA7;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
}
.quiz-footer .next-btn.current:hover{
    color: #007DA7;
    background: #f5f5f5;
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    background: transparent;
    border: 2px solid #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
}

.result-box h2{
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin: 1rem;
}

.result-box .results-container{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem;
}

.results-container .score-text{
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 3px solid #f5f5f5;
    padding: 1rem 0 1rem 0;
    border-top: 3px solid #f5f5f5;
    letter-spacing: .1rem;
    margin: 1rem;
}

.buttons button{
    width: 7.5rem;
    height: 3rem;
    background: #007DA7;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 1rem;
    font-weight: bolder;
}
.buttons button:hover{
    background: #f5f5f5;
    color: #007DA7;
    font-weight: bolder;
}